@model List<Employee>

<table class="table table-striped table-bordered">
    <div class="row mt-3">
        <div class="col-12">
            <h1>
                Employee Details
            </h1>
        </div>
    </div>
    <div>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Contact
                </th>
                <th>
                    Address
                </th>
                <th>
                    salary
                </th>
                <th>
                    Info
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Name

                    </td>
                    <td>
                        @obj.Email
                    </td>
                    <td>
                        @obj.Contact
                    </td>
                    <td>
                        @obj.Address
                    </td>
                    <td>
                        @obj.Salary
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Home" asp-route-ID="@obj.ID" class="btn btn-outline-primary form-control">details</a>
                    </td>

                </tr>
            }
        </tbody>
    </div>

</table>